@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}
html {
  font: 400 16px/1 'Montserrat', sans-serif;
}
body {
  min-height: 100vh;
  background: #1C0118;
  color: #ffffff;
}